.flex_box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_box_column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.align_item {
  align-items: center;
}

.justify_content {
  justify-content: space-between;
}

.flex_column {
  flex-direction: column;
}